<a href="https://colab.research.google.com/github/comparativechrono/Principles-of-Data-Science/blob/main/Week_5/section_10_Python_Example__Setting_Up_a_Simple_Database.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Section 10 - Python Example: setting up a simple database

In data science projects, setting up a simple database can greatly enhance data management, accessibility, and analysis. Databases not only provide robust mechanisms for data storage but also for retrieval, update, and manipulation of data in a structured way. This section demonstrates how to set up a simple relational database using SQLite with Python, showcasing basic operations like creating a database, inserting data, and retrieving data.

1. Setting Up the Environment:

To interact with SQLite databases in Python, ensure you have the appropriate library installed. SQLite comes built into Python, but the sqlite3 module may need to be available:

In [ ]:
pip install db-sqlite3

2. Importing Required Libraries:

Import the sqlite3 library, which provides a lightweight disk-based database that doesn’t require a separate server process and allows access to the database using a nonstandard variant of the SQL query language:

In [ ]:
import sqlite3

3. Creating a New SQLite Database:

Start by creating a new SQLite database and a table to hold some data:

In [ ]:
# Connect to SQLite database (or create it if it doesn't exist)
conn = sqlite3.connect('example.db')

# Create a cursor object using the cursor() method
cursor = conn.cursor()

# Create table
cursor.execute('''CREATE TABLE IF NOT EXISTS employees
              (id INTEGER PRIMARY KEY, name TEXT, age INTEGER, department TEXT)''')

# Commit the changes and close the connection
conn.commit()
conn.close()

4. Inserting Data:

Insert data into the database. This involves reopening the connection, executing an insert command, and then closing the connection:

In [ ]:
# Reopen the connection
conn = sqlite3.connect('example.db')
cursor = conn.cursor()

# Inserting data
employees = [(1, 'Alice', 30, 'HR'),
             (2, 'Bob', 24, 'Marketing'),
             (3, 'Charlie', 35, 'IT')]

cursor.executemany('INSERT INTO employees VALUES (?,?,?,?)', employees)

# Commit and close
conn.commit()
conn.close()

5. Retrieving Data:

Querying the database to retrieve data is a common operation. Here’s how you can fetch and display data from the database:

In [ ]:
# Reopen the connection
conn = sqlite3.connect('example.db')
cursor = conn.cursor()

# Query the database
cursor.execute('SELECT * FROM employees')

# Fetch all rows as a list of tuples
results = cursor.fetchall()

# Output the results
for row in results:
    print(row)

# Close the connection
conn.close()

6. Best Practices:

When working with databases in Python, consider the following best practices:

Use Context Managers: To ensure that resources are properly managed and the database connection is automatically closed, use context managers (the with statement) when interacting with the database.

In [ ]:
with sqlite3.connect('example.db') as conn:
    cursor = conn.cursor()
    cursor.execute('SELECT * FROM employees')
    print(cursor.fetchall())

Parameterized Queries: Avoid SQL injection and ensure more secure queries by using parameterized queries.

In [ ]:
cursor.execute('INSERT INTO employees VALUES (?,?,?,?)', (4, 'David', 29, 'Finance'))

Error Handling: Use try-except blocks to handle potential errors that could occur during database operations.

7. Conclusion:

Setting up a simple database with SQLite and Python provides a powerful tool for data scientists to store, manage, and retrieve data efficiently. By following the outlined steps and adhering to best practices, you can implement robust data management solutions in your projects, enhancing the overall quality and accessibility of your data analysis workflows.