<a href="https://colab.research.google.com/github/comparativechrono/Principles-of-Data-Science/blob/main/intro_chapter/Section_10_Getting_Started_with_Python_Exercises.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Section 10 Getting Started with Python Exercises

To truly master the concepts presented in this textbook, it is crucial to engage actively with Python through practical exercises. This section provides a roadmap for getting started with Python exercises that are designed to reinforce the theoretical knowledge acquired in previous chapters and develop hands-on proficiency in data science. The exercises will gradually increase in complexity, covering basic syntax and data structures, and progressing to more complex data manipulation and analysis tasks.

## Exercise 1: Basic Python Syntax and Operations

Start with the basics of Python by practicing simple operations, variable assignments, and basic data types.

Write a Python script to:

*   Create variables of different data types (integer, float, string, and boolean).
*   Perform basic arithmetic operations (addition, subtraction, multiplication, division).
*   Print out the results using the print() function.

### **Example (hidden)**:

In [ ]:
x = 5
y = 10.5
name = "Data Science"
is_valid = True

# Perform arithmetic operations
sum = x + y
product = x * y

# Print results
print("Sum:", sum)
print("Product:", product)
print("Welcome to", name)
print("Is the statement valid?", is_valid)

## Exercise 2: Lists and Dictionaries

Work with Python's list and dictionary data structures. Perform the following tasks:

Create a list of numbers from 1 to 10 and use a loop to print each element.

Create a dictionary mapping product names to their prices and print each item.

### **Example (hidden):**

In [ ]:
# List of numbers
numbers = list(range(1, 11))
for number in numbers:
    print(number)

# Dictionary of products
products = {'apple': 0.99, 'banana': 0.59, 'cherry': 3.99}
for product, price in products.items():
    print(f"The price of {product} is ${price}")

## Exercise 3: Functions and Conditional Statements

Develop a function that takes a number as an argument and checks if the number is prime. Use conditional statements to verify the primality.

### **Example (hidden):**

In [ ]:
def is_prime(num):
    if num <= 1:
        return False
    for i in range(2, int(num**0.5) + 1):
        if num % i == 0:
            return False
    return True

# Test the function
number = 29
if is_prime(number):
    print(f"{number} is a prime number.")
else:
    print(f"{number} is not a prime number.")

## Exercise 4: Data Manipulation with Pandas

Use the pandas library to load a dataset, perform basic data manipulation tasks such as filtering, sorting, and simple aggregations.

### **Example (hidden):**

In [ ]:
import pandas as pd

# Load data
data = pd.DataFrame({
    'Name': ['Alice', 'Bob', 'Charlie', 'David', 'Eva'],
    'Age': [25, 30, 35, 40, 45],
    'Salary': [50000, 54000, 70000, 68000, 62000]
})

# Basic manipulations
print(data[data['Age'] > 30])  # Filter
print(data.sort_values(by='Salary', ascending=False))  # Sort
print(data['Salary'].mean())  # Average salary

## Exercise 5: Visualizing Data with Matplotlib

Create a simple visualization using Matplotlib. Plot a bar chart showing the salary distribution among different individuals in the dataset.

### **Example (hidden):**

In [ ]:
import matplotlib.pyplot as plt

# Data
names = ['Alice', 'Bob', 'Charlie', 'David', 'Eva']
salaries = [50000, 54000, 70000, 68000, 62000]

# Create a bar chart
plt.figure(figsize=(10, 6))
plt.bar(names, salaries, color='blue')
plt.xlabel('Names')
plt.ylabel('Salary ($)')
plt.title('Salary Distribution')
plt.show()